/*reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

/*--------------------*/
.header {
  min-height: 793px;
  background: url("../../images/header/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
}

.logo_container .logo {
  color: #252B42;
  font-size: 24px;
  font-weight: 700;
}

.burger {
  display: none;
}

.navigation_menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation_elem a {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
}

.header_title {
  max-width: 50%;
  color: #252B42;
  font-size: 58px;
  font-weight: 800;
}

.header_content {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

body {
  font-family: Montserrat;
  color: #737373;
}