@import 'variables';

.about_us {
	padding: 100px 0;
}
.about_us_body {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about_us_media_container {
	flex: 0 0 50%;
}
.about_us_body_elem {
	width: 100%;
	position: relative;
	animation: animate 2s linear infinite;
}

.about_us_media_container.about_us_body_elem::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../../images/about/rain.png');
	animation: rain .2s linear infinite;
}

@keyframes rain {
	0% {
		background-position: 0 0;
	} 
	100% {
		background-position: 20% 100%
	}
}

@keyframes animate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
.about_us_media {
	width: 100%;
}
.about_us_content {
	//flex: 0 0 35%;
	margin-left: 120px;
}
.about_us_subtitle {
	padding-top:20px;
	margin-bottom: 10px;
	font-size:$fzh2 ;
	font-weight: 700;
	line-height:57px;
	color:$fcTitleMain;
	
}
.about_us_subtitle_description {
	margin-bottom: 50px;
	font-weight: 500;
	line-height: 20px;
}
.about_us_subelem {
	display: flex;
	margin-top: 30px;
}
.about_us_subelem_container {}
.about_us_icon_container {
	margin-right: 20px;
	max-width: 30px;
	max-height: 30px;
}
.about_us_icon {
	width:100%;
}
.about_us_icon_title {
	color: $fcTitleMain;
	font-weight: 700;
	font-size: $fzh5;
	line-height: 24px;
}
.about_us_icon_description {
	margin-top: 5px;
	font-weight: 600;
	line-height: 24px;
}