@import 'variables';

.advice {
    background: $bgThird;
    padding-bottom: 50px;
}

.advice_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background:#FFFFFF ;
}

.advice_cards_elem {
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    flex-wrap:nowrap;
    flex: 0 0 25%;

    .advice_block_text {
        padding: 30px;
        background: $bgwithoutFocus;

        .advice_cards_elem_title {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: $fzh5;
            line-height: $fzh3;
            letter-spacing: 0.1px;
            color: #252B42;
        }

        .advice_cards_elem_content {
            font-weight: 500;
            font-size: $fzmain;
            line-height: $fzH4;
            letter-spacing: 0.2px;
            color: #737373;
        }
        
    }
    .advice_cards_media {
            width:100%;
            .advice_image {
                width: 100%;
            }
        }
} 
@media screen and (max-width:900px) {
    .advice_cards{
        flex-wrap:wrap;
    }
    .advice_cards_elem{
        flex: 0 0 45%;
    }
}
@media screen and (max-width:500px) {
    .advice_cards_elem{
        flex: 0 0 100%;
    }
    .advice_cards_elem_title{
        text-align: center;
    }

}