@import 'variables';

.designing {
	background:$bgThird;
	padding-top:201px;
	padding-bottom:80px;
	margin-top: -131px;
}
.designing_cards {
	display: flex;
	justify-content: space-between;
}
.card_elem {
	flex:0 1 25%;
	padding:30px 40px;
	background:$bgwithoutFocus;
	text-align: center;
}
.designing_icon {
	width: 48px;
	height: 48px;
	margin: 10px auto 0;
	img{
		width: 100%;
	}
}
.card_title {
	font-size:$fzh2 ;
	font-weight: 700;
	color:$fcTitleMain ;
	line-height: 57px;
	margin-bottom: 10px;
}
.card_body {
	font-size: 16px;
	font-weight: 700;
}

@media screen and (max-width:860px) {
	.designing {
		padding:50px 0;
		margin-top: 0px;
	}
	.designing_cards{
		flex-wrap: wrap;
	}
	.card_elem{
		flex:1 0 50%;
	}
}