//font-colors
$fcTitleMain:#252B42;
$fcTitleLight:#FFFFFF;
$fcMain:#737373;
$fcSecondary:#FFFFFF;
$fcThird:#FF7B47;

//font-Size
$fzh1: 58px;
$fzh2:40px;
$fzh3:24px;
$fzH4:20px;
$fzh5:16px;
$fzmain:14px;

//background
$bgwithoutFocus:#FFFFFF;
$bgwithFocus:#0D5C63;
$bgSecondary:#17213C;
$bgThird:#FAFAFA;
$buttonbgMain:#FF7B47;