.designing {
	background:$bgThird;
	padding-top:201px;
	padding-bottom:80px;
	margin-top: -131px;
}
.designing_cards {
	display: flex;
	justify-content: space-between;
}
.card_elem {
	min-width: 230px;
	padding:30px 40px;
	background:$bgwithoutFocus;
	text-align: center;
}
.designing_icon {
	width: 48px;
	height: 48px;
	margin: 10px auto 0;
	img{
		width: 100%;
	}
}
.card_title {
	font-size:$fzh2 ;
	font-weight: 700;
	color:$fcTitleMain ;
	line-height: 57px;
	margin-bottom: 10px;
}
.card_body {
	font-size: 16px;
	font-weight: 700;
}