@import 'null.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'designing.scss';
@import 'advice.scss';
@import 'aboutus.scss';
@import 'clients.scss';
@import 'contacts.scss';
@import 'footer.scss';

body{
	font-family: Montserrat;
	color: $fcMain;
	font-size: $fzmain;
}
.wrapper {}
.content {}
.container {
	max-width: 1046px;
	margin: 0 auto;
}

.titel_container {}
.section_title {}
.secton_description {}