@import 'null.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'designing.scss';
@import 'advice.scss';
@import 'aboutus.scss';
@import 'clients.scss';
@import 'contacts.scss';
@import 'footer.scss';

body{
	font-family: Montserrat;
	color:$fcMain;
}
.wrapper {
    height: 100%;
    background-image: url('../../images/header/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 36px;
}