@import 'null';
@import 'variables';
@import 'header';
@import 'designing';
@import 'advice';
@import 'aboutus';
@import 'clients';
@import 'contacts';
@import 'footer';

body{
	font-family: Montserrat;
	color: $fcMain;
	font-size: $fzmain;
}
.wrapper {}
.content {}
.container {
	max-width: 1096px;
	margin: 0 auto;
	padding: 0 25px;
}

.titel_container {
	margin-bottom: 50px;
}
.section_title {
	font-size:$fzh2 ;
	color: $fcTitleMain;
	font-weight: bold;
	line-height: 57px;
	text-align:center;
}
.secton_description {
	max-width: 550px;
	margin: 10px auto 0;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}
@media screen and (max-width:900px){
	.titel_container{
		margin-bottom: 20px;
	}
}
@media screen and (max-width:720px){
	.section_title {
		font-size:30px ;
	}
}